<html>
    <head>
        <link rel="stylesheet" href="../static/home1.css">

   </head>
   <body>
       
          <nav>
              <a href="home" style="color: white; text-decoration:none;" class="h">Home</a>
              <a href="incoming_view" style="color: white; text-decoration:none;" class="h">View</a>
              <a href="sent-view" style="color: white; text-decoration:none;" class="h">Sent</a>
              
              <button><a href="logout" style="color: cyan; text-decoration:none;">Logout</a></button>
            </nav>
        
        <div class="form1">
            <div >
                <form action="msg" method="POST" > 
                <label style="color: white;">From:</label><input type="text" name="from" /><br>
                <label style="color: white;">To:</label><input type="text" name="to"/><br>
                <label style="color: white;">Message:</label><textarea name="message"></textarea>
                <Button>submit</button>
                </div>
                
        </div>
   </body>
</html>