<html>
    <heada>
        <title>Login Page</title>
        <link rel="stylesheet" href="../static/loginh.css">
    </heada>
<body>
    <div class="form-container">
    <form method="post" action="login-data">
        <h1>Log in</h1>
       <input type="email" name="email" class="uname" placeholder="Enter Email" ><br>
        <input type="password" name="pass" class="pass" placeholder="Enter Password"><br>
        <button type="submit" name="sub" value="Login">Login</button><br>
        <label class="acn">Create new Account?<label><a href="/">Sing up</a>
    </form>
</body>