<html>
    <head>
        <link rel="stylesheet" href="../static/singup.css" >
    <body >
        <div class="form-container">
        <form method="post" action="signup" >
            <h1>Sign up</h1>
            <input type="text" name="fname" placeholder="Enter your first name" ><br>
            <input type="text" name="lname" placeholder="Enter your last name" ><br>
            <label>Select Your Gender</label> <br> <input type="radio" name="gender"  value="male" class="gender"><label>Male</label>
            <input type="radio" name="gender"  value="female" class="gender"><label>Female<label>
            <input type="radio" name="gender"  value="other" class="gender"><label>Other<label><br>
            <input type="text" name="mno" placeholder="Enter your mobile Number" ><br>
            <input type="email" name="email" placeholder="Enter Email ID" ><br>
            <input type="password" name="pass" placeholder="Enter Your Password"><br>
            <button type="submit" name="sub" value="singup" class="sub">Sing up</button><br>
            <label class="acn">You have Account?<label><a href="login">Sing up</a>
     </form>
</div>
 </body>
</html>            
           